/******************************************/
/*                                        */
/* INTERNAL PAGE (food & restaurant info) */
/*                                        */
/******************************************/
/* Modifications: styling                 */
/*                                        */
/* by: Maggie                             */
/******************************************/

.fooditem {
    // background: #f2f2f2;
}

.info>* {
    background-color: white;
    margin: .5rem;
    padding: 0 2rem;
    border-radius: 10px;
}

.info>*>* {
    padding: 1rem 0;
}

.info .ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.info .ingredients span {
    background-color: #a493ff; /* color blue */
    color: white;

    font-size: .8rem;
    text-transform: uppercase;

    padding: .2rem .5rem;
    margin: .5rem;
    border-radius: 1rem;
    display: inline-block;
}

.info {
    display: block;
}

.info .price {
    display: flex;
    align-items: baseline;
    color: #7359ff; /* blue dark */
    font-size: 2rem;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.info .price:before {
    content: url('../images/Assets/price-icon.png') 'PRICE';
    font-size: .8rem;
    color: #ababab; /* black lighter */
    flex-grow: 1;
    font-weight: 400;
}

.info .price:after {
    content: "+ TAXES";
    font-size: .8rem;
    font-weight: 400;
    color: #ababab; /* black lighter */
}

.info .res_call {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(to right, #f2398e, #ffa800);
    padding: 0;
}

.info .res_call a {
    color: white;
    display: block;
    width: 100%;
    padding: 2rem 0;
}

.info .res_call .res_tel {
    border-right: 5px solid white;
}

.res_info {
    padding: 0;
}

.res_info>* {
    padding: 0 2rem;
    font-size: .8rem;
    color: #ababab; /* black lighter */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    border-bottom: 1px solid #ababab;
}

.res_info .res_name {
    /* height: 130px; */
    font-size: 1.5rem;
    background: rgba(0,0,0,0.5) url('../images/res_bg.jpg') center;
    background-blend-mode: color;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-weight: 600;
    line-height: 8;
}

.res_info .res_review {
}

.res_info img {
    vertical-align: middle;
}

.res_info .res_address_text, .res_info .res_hour_text {
    text-align: right;
}

.res_info .res_address_text span {
    display: block;
}





/******************************************/
/*           end of internal page         */
/******************************************/




.foodinfo {
    min-height: 100vh;
    height: 100%;
    background-color: #F4F2EF;
    position: relative;
    // z-index: 2;

    h2 {
        margin: 0;
        padding-top: 90px;
        margin-left: 5vh;
        color: white;
        filter: drop-shadow(0px 3px 2px hsla(120,0%,0%,.5));
    }
}


.foodinfo-image {
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, hsla(120, 0, 0, .7), transparent), url("../1.jpg");
    background-position: center;
    display: block;
    // z-index: 2;
}

.foodinfo-wrapper {
    width: 50vh;
    margin: 20px auto;

}

.foodinfo-box-ingredients {
    height: 200px;
    background-color: white;
    filter: drop-shadow(0px 3px 2px hsla(120,0%,0%,.1));
    border-radius: 8px;
    margin: 1rem 0;
}





// ANIMATIONS

.foodinfo-anim-01 {
    animation-name: foodinfoanim;
    animation-duration: 1s;
    animation-iteration-count: 1;

    h2 {
        animation-name: foodinfoanimitem;
        animation-duration: .3s;
        animation-iteration-count: 1;
    }
}
.foodinfo-anim-02 {
    animation-name: foodinfoanimitem;
    animation-duration: .3s;
    animation-iteration-count: 1;
}
@keyframes foodinfoanim {
    0% {
        opacity: 0;

    } 100% {
        opacity: 100;
    }
}
@keyframes foodinfoanimitem {
    0% {
        opacity: 0;
        transform: translateY(40px);

    } 100% {
        opacity: 100;
        transform: translateY(0px);
    }
}



// top buttons animations

.menu-to-info {
    animation-name: menu-entering;
    animation-duration: .3s;
    animation-iteration-count: 1;
    transform: translateX(1rem);
    animation-timing-function: ease-in-out;
}
@keyframes menu-entering {
    0% {
        transform: translateX(-1.6rem);
    } 100% {
        transform: translateX(1rem);
    }
}

#menu, #goback {
    clear: both;
}

.goback-to-info {
    animation-name: goback-entering;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes goback-entering {
    0% {
        transform: translateX(-60px);
        opacity: 0;
    } 100% {
        transform: translateX(0px);
        opacity: 1;
    }
}



// REVERSE ANIMATIONS

.foodinfo-anim-reverse-01 {
    animation-name: foodinfoanim-reverse;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function:ease-in;
    opacity: 0;

    h2 {
        animation-name: foodinfoanimitem-reverse;
        animation-duration: .3s;
        animation-iteration-count: 1;
        animation-timing-function:ease-in;
        opacity: 0;
    }
}
.foodinfo-anim-reverse-02 {
    animation-name: foodinfoanimitem-reverse;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function:ease-in;
}
@keyframes foodinfoanim-reverse {
    0% {
        opacity: 1;

    } 100% {
        opacity: 0;
    }
}
@keyframes foodinfoanimitem-reverse {
    0% {
        opacity: 1;
        transform: translateY(0px);

    } 100% {
        opacity: 0;
        transform: translateY(40px);
    }
}




// BUTTONS REVERSE ANIMATION

.menu-to-info-reverse {
    animation-name: menu-entering-reverse;
    animation-duration: .4s;
    animation-iteration-count: 1;
    // transform: translateX(-1.6rem);
    animation-timing-function: ease-in-out;
}
@keyframes menu-entering-reverse {
    0% {
        transform: translateX(1rem);
    } 100% {
        transform: translateX(-1.6rem);
    }
}


.goback-to-info-reverse {
    animation-name: goback-entering-reverse;
    animation-duration: .4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
@keyframes goback-entering-reverse {
    0% {
        transform: translateX(0px);
        opacity: 1;
    } 100% {
        transform: translateX(-60px);
        opacity: 0;
    }
}
