/******************************************/
/*                                        */
/* INTERNAL PAGE (food & restaurant info) */
/*                                        */
/******************************************/
/* Modifications: styling                 */
/*                                        */
/* by: Maggie                             */
/******************************************/

.fooditem {
    // background: #f2f2f2;
}

.info>* {
    background-color: white;
    margin: .5rem;
    padding: 0 2rem;
    border-radius: 10px;
}

.info>*>* {
    padding: 1rem 0;
}

.info .ingredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.info .ingredients span {
    background-color: #a493ff; /* color blue */
    color: white;

    font-size: .8rem;
    text-transform: uppercase;

    padding: .2rem .5rem;
    margin: .5rem;
    border-radius: 1rem;
    display: inline-block;
}

.info {
    display: block;
}

.info .price {
    display: flex;
    align-items: baseline;
    color: #7359ff; /* blue dark */
    font-size: 2rem;
    font-weight: 700;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.info .price:before {
    content: url('../images/Assets/price-icon.png') 'PRICE';
    font-size: .8rem;
    color: #ababab; /* black lighter */
    flex-grow: 1;
    font-weight: 400;
}

.info .price:after {
    content: "+ TAXES";
    font-size: .8rem;
    font-weight: 400;
    color: #ababab; /* black lighter */
}

.info .res_call {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    text-align: center;
    background: linear-gradient(to right, #f2398e, #ffa800);
    padding: 0;
}

.info .res_call a {
    color: white;
    display: block;
    width: 100%;
    padding: 2rem 0;
}

.info .res_call .res_tel {
    border-right: 5px solid white;
}

.res_info {
    padding: 0;
}

.res_info>* {
    padding: 0 2rem;
    font-size: .8rem;
    color: #ababab; /* black lighter */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    border-bottom: 1px solid #ababab;
}

.res_info .res_name {
    /* height: 130px; */
    font-size: 1.5rem;
    background: rgba(0,0,0,0.5) url('../images/res_bg.jpg') center;
    background-blend-mode: color;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    font-weight: 600;
    line-height: 8;
}

.res_info .res_review {
}

.res_info img {
    vertical-align: middle;
}

.res_info .res_address_text, .res_info .res_hour_text {
    text-align: right;
}

.res_info .res_address_text span {
    display: block;
}





/******************************************/
/*           end of internal page         */
/******************************************/
